/* TYPE */
$sansFontFamily: 			Helvetica, Arial, San-Serif;
$serifFontFamily:			Times, Georgia, serif;
$fontSize: 					16px;
$lineHeight:				1.2;
$fontWeight: 				normal;

/* COLORS */
/* http://paletton.com/ */
$white:			 			rgba(232,232,232,1);
$black:			 			rgba( 24, 17, 13,1);
$grey:			 			rgba( 94, 82, 76,1);
$highlight:		 			rgba(247,129, 66,1);
$darkgrey:						rgba(224,222,221,1);

$bgColor:					$white;
$primaryTextColor:  		$black;
$secondaryColor:			$darkgrey;
$highlightColor:			$highlight;
$brandColor:				$highlight;