/* TYPE */
/* COLORS */
button {
  -webkit-appearance: none;
  appearance: none;
  background: #e8e8e8;
  border: none 0;
  text-shadow: 5% 20% 0 #f78142; }

html, body {
  width: 100%;
  height: 100%; }

body {
  font-family: Times, Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  background-color: #e8e8e8;
  color: #18110d; }
